/* Home Banner */
/* ========================================================================== */

.home_banner {
    padding: 40px 0 40px;
}

/* Responsive Media Queries for Homepage */
/* ========================================================================== */

 
@media (min-width:767px) and  (max-width: 979px){
    #home-crafted-content {
        text-align: center;
    }
}

@media(max-width: 767px){
    #home-crafted-content {
        text-align: center;
    }
}
