/*
Theme Name: GNOME Grass
Theme URI: http://gnome.org/
Author: Vinicius Depizzol <vdepizzol@gmail.com>
Description: The original theme for the GNOME Project website.
Version: 2.0.0
Text Domain: grass
*/
@import url("css/text.css");
@import url("css/responsive.css");

/* Base information */
/* ========================================================================== */

html {
    background: transparent;
}
a {
    color: #204a87;
}
a:hover {
    color: #3465a4;
}
a:visited {
    color: #5d396e;
}
.left {
    float: left;
}
.right {
    float: right;
}
.hidden {
    display: none;
}
.center-text {
    text-align: center;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.no-padding {
    padding: 0 !important;
}
.featured-banner {
    min-width: 100%;
}

/* Sticky Footer */
.gnome-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}
.gnome-content{
    -webkit-flex:1;
    -ms-flex:1;
    -webkit-box-flex:1; 
    flex:1;
}

/* We don't want WordPress admin-bar to overlap the navbar or donation ruler */
body.admin-bar .navbar-fixed-top {
    top: 31px;
}
body.admin-bar .donation-ruler-container {
    top: 31px;
}

/* If we run donation campaigns, move the navbar below the donation ruler */
.visible-fog-ruler .navbar-fixed-top {
    top: 40px;
}
body.admin-bar .visible-fog-ruler .navbar-fixed-top {
    top: 71px;
}


/*
 * Bootstrap extension
 * Extend and overwrite Bootstrap Framework
 *
 */
/* ========================================================================== */

.btn {
    text-decoration: none;
    border-radius: 6px;
    padding: 6px 30px;
}
.btn-success {
    background-color:#4e9a06;
    color: #fff !important;
}
.btn-success:hover {
    background-color: #4e9a06;
}

.btn-primary {
    color: #fff !important;
}

.input-group-no-bg {
    background-color: transparent;
    border: none;
    padding: 6px 4px;
    width: 19px;
}
input[type=number] {
    -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Accessibility access */
/* ========================================================================== */


#accessibility_access {
    position: absolute;
    left: 0;
    /* Not visible by default? */
    top: -200px;
}


/* Header */
/* ========================================================================== */


.gnome-header {
    margin-bottom: 40px;
}

.gnome-navbar-brand {
    height: 50px;
    padding: 6px;
    float: left;
    outline: 0;
    margin-left: 7px;
}

.gnome-navbar-brand img {
    max-height: 35px;
    min-height: 35px;
    min-width: 35px;
}


/* Main Navigation Menu */
/* ========================================================================== */

.navbar-default {
    background-color: #4a86cf;
    border-color: #3968a1;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li {
    margin-left: 10px;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    text-decoration: none;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background: rgba(100%, 100%, 100%, 0.2);
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #4a86cf;
}
.navbar-default .navbar-nav > li > .dropdown-toggle .caret{
    display: none;
}
.navbar-default .navbar-nav > li > .dropdown-toggle .dropdown-header{
    padding: 0px;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #3968a1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #3968a1;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #3968a1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #3968a1;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #3968a1;
}
.navbar-default .navbar-toggle {
    border-color: #3968a1;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #3968a1;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

/* Searchform on Navbar */
/* ========================================================================== */

#navbar-search {
    background-color: transparent;
    color:#fff;
    border: none;
    border-radius: 0;
    transition: none;
    box-shadow: none;
    padding: 8px 8px 8px 40px;
}
#navbar-search:focus {
    background-color: rgba(100%,100%,100%,0.1);
}

/* Color for search's placeholder text*/

#navbar-search::-webkit-input-placeholder {
    color: #fff;
}
#navbar-search::-moz-placeholder {
    color: #fff;
}
#navbar-search::-ms-placeholder {
    color: #fff;
}
#navbar-search::placeholder {
    color: #fff;
}

/* CSS hack to align search icon with the text*/

.fa.form-control-feedback {
    line-height: 34px;
}
.has-feedback-left input.form-control {
    padding-left: 34px;
    padding-right: 12px;
}
.has-feedback-left .form-control-feedback {
    left: 0;
}
.form-horizontal .has-feedback-left .form-control-feedback {
    left: 12px;
}
.form-control-feedback {
    color: #fff;
    background-color: #4a86cf;
}

/* Animated "Close" icon on Navbar */
/* ========================================================================== */

.navbar-toggle {
    border: none;
    background: transparent !important;
}
.navbar-toggle:hover {
    background: transparent !important;
}
.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
}
.navbar-toggle .top-bar {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform-origin: 10% 10%;
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
    opacity: 0;
}
.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform-origin: 10% 90%;
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
}
.navbar-form,
.navbar-collapse {
    box-shadow: none;
}


/* Foundation */
/* ========================================================================== */

#foundation h1,
#foundation h2,
#foundation h3,
#foundation h4 {
    color: #8c5f93;
}

#foundation .page_title {
    margin-bottom: 2px;
    color: #8c5f93;
}

.foundation_advisory_board {
    margin-top: 30px;
}
.foundation_advisory_board img {
    vertical-align: middle;
    margin: 20px;
    display: inline-block;
}

.main_feature img {
    margin-top: -25px;
    margin-left: 50px;
}

.foundation_board {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

.foundation_members_list {
    list-style-position: inside;
}

.foundation_members_list li a {
    text-decoration: none;
    color: #555;
}


/* Page Title */
/* ========================================================================== */

.page_title {
    margin: 10px 10px 20px 0px;
    border-bottom: 1px solid #d3d7cf;
}
.page_title .breadcrumb {
    color: #888a85;
}
.page_title .breadcrumb a {
    color: inherit;
    text-decoration: none;
}
.page_title .breadcrumb a:hover {
    text-decoration: underline;
}
.page_title h1 {
    margin: 0 0 6px;
    font-size: 37px;
    text-shadow: 0 1px 0 #fff;
    line-height: normal;
    letter-spacing: -0.05em;
    color: #0489B7;
}
.page_title h1 a {
    text-decoration: none;
    color: inherit;
}
.page_title h1 a:hover {
    text-decoration: underline;
}
.page_title.with_subpages_list {
    display: table-row;
}
.page_title.with_subpages_list h1 {
    display: table-cell;
    width: 100%;
}

/* -> subpages list */

/*
* This is not used right now, but allows to put links by the side of
* the title of the page.
*/

.page_title .subpages_list {
    list-style: none;
    clear: left;
    margin: 0;
    padding-bottom: 4px;
    display: table-cell;
    text-align: right;
    white-space: nowrap;
    vertical-align: bottom;
}
.page_title .subpages_list li {
    display: inline;
    padding: 0;
    margin: 0 0 0 0.5em;
}
.page_title .subpages_list li a {
    color: inherit;
    text-decoration: none;
    padding: 3px 6px;
}
.page_title .subpages_list li a:hover {
    outline: 0;
    background: red;
    background: #dde5ef url(images/focus-bg.png) top repeat-x;
    border: 1px solid #bbc5d5;
    padding: 2px 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.page_title .subpages_list li a:active {
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
.page_title .subpages_list li.current_page_item a {
    font-weight: bold;
}

/* Site Content */
/* ========================================================================== */

.content {
    color: #555;
    margin: auto;
    min-height: 240px;
}


/* Application Form */
/* ========================================================================== */

#application_form {
    margin-top: 30px;
    padding: 30px;
    border: 1px solid #ccc;
    background: #eeeeec;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#application_form h3:first-of-type {
    margin-top: 0;
}
#application_form h3 {
    border-bottom: 1px solid #ccc;
}
#application_form .item {
    margin: 20px 0;
    overflow: hidden;
    font-size: 15px;
}

#application_form .benefits {
    margin: 5px;            
}

#application_form .item label {
    display: block;
    float: left;
    width: 140px;
    margin-right: 10px;
    padding: 5px;
    font-weight: bold;
}
#application_form .item input[type="text"],
#application_form .item .field {
    font: inherit;
    padding: 5px;
    width: 265px;
}

#application_form .item input[type="text"]:disabled {
    background-color: #ddd;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: 5px;
}

#application_form .item .disabled-checkbox {
    color: #aaa;
}

#application_form .item input[name="not_spam"] {
    width: 100px;
}
#application_form .item textarea {
    width: 100%;
    min-height: 130px;
    font: inherit;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: vertical;
}
#application_form .submit_area {
    text-align: center;
}
#application_form .submit_area button {
    font-size: 18px;
    outline: 0;
}
#application_form .submit_area button:hover {
    cursor: pointer;
}


/* Content specs */
/* ========================================================================== */


/*
* -> Call to Action boxes
*/

.action_box {
    background: #fffae5 url(images/action_box-bg.png) repeat-x bottom;
    -moz-box-shadow: 0 1px 2px #e5d693, inset 0 1px rgba(100%, 100%, 100%, 0.4);
    -webkit-box-shadow: 0 1px 2px #e5d693, inset 0 1px rgba(100%, 100%, 100%, 0.4);
    box-shadow: 0 1px 2px #e5d693, inset 0 1px rgba(100%, 100%, 100%, 0.4);
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e7d172;
}


/*
* -> Subtle boxes
*
* .subtle_box can be used inside grid classes to make simple box delimiters
* (without grids inside of it) or as a child of container class to allow columns on it
*
* Examples:
*
* <div class="grid_3">
*     <div class="subtle_box">Lorem ipsum dolor sit amet</div>
* </div>
*
* <div class="container_12">
*     <div class="subtle_box">
*         <div class="grid_3 alpha">(...)</div>
*         <div class="grid_9 omega">(...)</div>
*     </div>
* </div>
*
*/

.subtle_box {
    margin: 0 0 20px;
    padding: 9px;
    background: #fff;
    border: 1px solid #d3d7cf;
    border-color: rgba(0,0,0,0.15);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.subtle_box h4 {
    margin: 0 0 10px;
}

/*
* --> Navigation list
*
* Navigation lists are used to generate a list of links which are in the same
* hierarchical level of the current page. Use it preferably in a grid_3 element.
*
* Don't forget to highlight with <li class="current_page_item"> the current page.
*
*/

.navigation_list {
    background: #fff;
    margin: 0 0 20px;
    padding: 0;
    border: 1px solid #d3d7cf;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    list-style: none;
    font-size: small;
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), inset 0 1px 2px #fff;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), inset 0 1px 2px #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), inset 0 1px 2px #fff;
}
.navigation_list > li {
    margin: 0;
    background: #f5f5f4;
    border: 1px solid #fff;
    border-bottom-color: #d3d7cf;
}
.navigation_list > li.current_page_item,
.navigation_list > li a.navTreeCurrentItem {
    background: #dde5ef url(images/focus-bg.png) top repeat-x;
}
.navigation_list li:first-child {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.navigation_list li:last-child {
    border-bottom: 0;
}
.navigation_list li:last-child {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.navigation_list a {
    padding: 6px 9px;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-shadow:  white 0 1px 0;
}
.navigation_list a.without_icon {
    padding-left: 37px;
}
.navigation_list a:hover {
    color: #3465a4;
    background: rgba(100%,100%,100%,0.5);
    /*-webkit-transition: all 200ms linear;*/
}
.navigation_list a:focus {
    background: #dde5ef url(images/focus-bg.png) top repeat-x;
    outline: 0;
    padding: 2px 5px;
    margin: 3px;
    border: 1px solid #bbc5d5;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.navigation_list a.without_icon:focus {
    padding-left: 33px;
}
.navigation_list a img {
    vertical-align: middle;
    margin-right: 6px;
}
.navigation_list > li ul {
    background: #fff;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation_list > li ul li {
    border-top: 1px solid #ececec;
    margin: 0;
    padding: 0;
}
.navigation_list > li ul li:first-child {
    border-top: 0;
}
.navigation_list > li ul li a {
    font-weight: normal;
    padding: 4px 9px;
    color: #555753;
}
.navigation_list > li ul li.current_page_item a {
    font-weight: bold;
}
.navigation_list > li ul li a:focus {
    padding: 0 5px;
}
.navigation_list > li ul  {
    padding-top: 1px;
}

/* -> Simple List */

.simple_list {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
}
.simple_list li {
    border: 1px solid #eeeeec;
    border-left: 0;
    border-right: 0;
    padding: 0;
    margin: 0;
}
.simple_list li a {
    padding: 3px 8px;
    text-decoration: none;
    display: block;
    color: #888a85;
}

/* -> Iconified Menu */

ul.iconified_menu {
    list-style: none;
    margin: 0 0 20px;
    font-size: small;
}
ul.iconified_menu li {
    margin: 0 0 5px;
}
ul.iconified_menu li a {
    padding: 5px;
    display: block;
    text-decoration: none;
    border: 1px solid transparent;
    overflow: hidden;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
ul.iconified_menu li a:hover, ul.iconified_menu li a:focus {
    background: #dde5ef url(images/focus-bg.png) top repeat-x;
    outline: 0;
    border: 1px solid #bbc5d5;
}
ul.iconified_menu li a img {
    float: left;
    margin-right: 5px;
}

/* -> Definition Lists */

dl dt {
    font-weight: 700;
}
dl dt a {
    color: inherit;
}
dl dt a:visited {
    color: #ef8e4f;
}

/* -> Definition Lists with icons */

/* Icons are defined as 48x48 pixels by default */

dl.icon_list dt, dl.icon_list dd {
    margin-left: 58px;
}
dl.icon_list dt img {
    float: left;
    width: 48px;
    height: 48px;
    margin: 0 10px 0 -58px;
}


/* -> Action Button */

.action_button {
    display: inline-block;
    padding: 0 14px;
    border: 1px solid #ccc;
    margin-left:20px;
    margin-right:20px;
    background: #ececec url(images/action_button-bg.png) center repeat-x;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    color: #2e3436;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    line-height: 1.8;
    -webkit-transition: background-position 100ms linear;
    -moz-transition: background-position 100ms linear;
    transition: background-position 100ms linear;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    outline: none;
}
.action_button:hover {
    background-position: top;
    color: #000;
    text-decoration: none;
}
.action_button:visited {
    color: inherit;
}
.action_button:active {
    -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.4);
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.4);
    background-position: bottom;
}


/* Page Navigation */
/* ========================================================================== */

.page_navigation {
    margin: 30px auto 0;
}
.page_navigation .prev, .page_navigation .next {
    height: 32px;
    line-height: 32px;
}
.page_navigation a {
    text-decoration: none;
    color: inherit;
}
.page_navigation a:hover {
    text-decoration: underline;
}
.page_navigation .prev a {
    float: left;
    background: url(images/go-previous.png) top left no-repeat;
    padding-left: 40px;
}
.page_navigation .next a {
    float: right;
    background: url(images/go-next.png) top right no-repeat;
    padding-right: 40px;
}


/* Footer */
/* ========================================================================== */

#footer {
    clear: left;
    background: #000;
    color: #919191;
    padding: 20px 20px;
    padding-top: 40px;
    margin-top: 80px;
}
#footer div.links > div > ul > li {
    float: left;
    margin: 0 40px 10px 0;
}
#footer div.links div a, #footer div.links div strong {
    display: block;
    text-decoration: none;
}
#footer div.links div a:hover, #footer div.links div a:focus {
    text-decoration: underline;
}
#footer div.language {
    float: right;
}
#footer div.language a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 220px;
    height: 110px;
    background: url(images/footer-map.png) center center no-repeat;
    outline: none;
    text-decoration: none;
}
#footer div.language a span {
    background: #f4f4f4;
    background: -moz-linear-gradient(bottom, #ececec, #fff);
    background: -webkit-linear-gradient(bottom, #ececec, #fff);
    background: linear-gradient(bottom, #ececec, #fff);
    padding: 4px 12px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    color: #333;
}

#footer div.language a span.loading {
    display: none;
}
#footer div.language a.loading {
    cursor: wait !important;
}
#footer div.language a.loading span.switch {
    display: none;
}
#footer div.language a.loading span.loading {
    display: inline-block;
}
#footer div.language a:hover span.switch {
    background: #fff;
    background: -moz-linear-gradient(bottom, #fff, #fff);
}


#footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#footer ul li {
    margin: 0;
    padding: 0;
}
#footer ul.menu > li > a {
    font-weight: bold;
}
#footer .links a {
    color: inherit;
    outline: 0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    margin: 6px 0;
    font-size: 14px; /* 14px */
}
#footer .links a:hover {
    color: #c4c4c4;
}
#footer .links a:active,
#footer .links a:focus {
    color: #fff;
}
#footer #footnotes {
    margin-top: 20px;
}
#footer #footnotes small {
    font-size: 88%;
}
#footer #footnotes a {
    color: inherit;
}


/* Language Selector */
/* ========================================================================== */

#language_selector {
    display: none;
    /* poor wanda the fish */
    background: #555753 url(images/language-selector-bg.png) top center repeat-x;
    clear: left;
    overflow: hidden;
}
#language_selector .container_12 {
    background: url(images/language-selector-wanda-bg.png) right 60px no-repeat;
    overflow: hidden;
}
#language_selector h3 {
    color: #f57900;
    margin: 60px 0 35px;
}
#language_selector ul {
    list-style: none;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    margin: 10px 0 40px;
    color: #fff;
}
#language_selector ul li {
    margin: 0;
    padding: 0;
    margin: 0 0 7px;
}
#language_selector ul li.active {
    font-weight: bold;
}
#language_selector ul a {
    color: #fff;
    text-decoration: none;
}
#language_selector ul a:hover {
    text-decoration: underline;
}
#language_selector .help_us_translating {
    color: #d3d7cf;
    margin: 129px 0 30px;
}
#language_selector .help_us_translating a {
    color: #fff;
}

/* Separators */
/* ========================================================================== */

hr {
    border-top: 1px #c9c9c9 solid;
    height: 0;
    margin: 40px 0;
}

/* Crafted Content */
/* ========================================================================== */

.crafted_content {
    margin: 40px 0 0;
}
.crafted_content img {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.crafted_content .section {
    margin-bottom: 40px;
    overflow: hidden;
}
.crafted_content .section h2,
.crafted_content .section h3 {
    color: #2e3436;
    margin-top: 0;
}
.crafted_content .section.image-right .text {
    float: left;
}
.crafted_content .section.image-left .text {
    float: right;
}
.crafted_content .section.image-right .image {
    float: right;
}
.crafted_content .section.image-left .image {
    float: left;
}
.crafted_content .section .thumbs {
    display: table;
    padding: 20px 0 0 0;
    margin: 0;
    list-style: none;
}
.crafted_content .section .thumbs li {
    display: table-cell;
    padding: 0 20px 0 0;
    margin: 0;
    list-style: none;
    vertical-align: middle;
}
.crafted_content .section .thumbs li:last-child {
    padding-right: 0;
}
.crafted_content .section .thumbs li > a {
    display: block;
    padding: 4px;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}
.crafted_content .section .thumbs li .inline a {
    color: inherit;
    text-decoration: none;
}
.crafted_content .section .thumbs li .inline a:hover {
    text-decoration: underline;
}
.crafted_content .section .thumbs img {
    width: 120px;
    height: 80px;
    display: block;
    background: #ccc;
}
.crafted_content .section .thumbs a .play {
    position: absolute;
    width: 120px;
    height: 80px;
    top: 0;
    left: 0;
    background: url(images/video-play.png) center center no-repeat;
    margin: 4px;
}

.col-3 {
    list-style-type: disc;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

/* Social Icons */
/* ========================================================================== */

#thankyou a,
.social_network_icons a {
    outline: none;
    border: 0;
    text-decoration: none;
    color: inherit;
}
#thankyou a,
.social_network_icons a:hover {
    text-decoration: none;
}
#thankyou .fa-twitter:hover {
    background-color: #1DA1F2;
}
#thankyou .fa-facebook:hover {
    background-color: #3b5998;
}
#thankyou .fa-google-plus:hover {
    background-color: #dd4b39;
}

.social_network_icons [class*="fa fa-"]{
    padding: 6px;
    text-decoration: none;
    outline: none;
}
.social_network_icons .fa-twitter:hover {
    color: #1DA1F2;
}
.social_network_icons .fa-facebook:hover {
    color: #3b5998;
}
.social_network_icons .fa-google-plus:hover {
    color: #dd4b39;
}
.social_network_icons .fa-rss:hover {
    color: #ff6600;
}

/* Hero Sections */
/* ========================================================================== */

section {
    padding: 60px;
    margin: 60px 0;
}

.bg-grey {
    background: #f6f6f6;
}

/* Donation ruler container */
/* ========================================================================== */

.donation-ruler-container {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 40px;
    background-color: #68a834;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    z-index: 110;
    color: #ffffff;
    padding-top: 7px;
}
